@import 'tailwindcss';

/* Reset default styles that might conflict with Potree */
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* Fix for mobile viewport height */
  height: 100vh;
  height: -webkit-fill-available;
}

#app {
  width: 100vw;
  height: 100vh;
  height: -webkit-fill-available;
  padding: 0;
  margin: 0;
}

/* Fix for mobile devices to use fill-available height */
html, body {
  height: 100%;
  height: -webkit-fill-available;
}

/* Additional fix for mobile Safari */
@supports (-webkit-touch-callout: none) {
  body {
    height: -webkit-fill-available;
  }
}

#tools {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#clipping_tools {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#navigation {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
