@import 'tailwindcss';

/* Reset default styles that might conflict with Potree */
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#app {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}

#tools {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#clipping_tools {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#navigation {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
